<div class="form col-10">
    <div class="">
        <p class="title">Bienvenidos</p>
    </div>
    <div class="form-group">
        <label for="">Usuario</label>
        <input type="text" v-model="form.username" class="form-control">
    </div>
    <div class="form-group">
        <label for="">Contraseña</label>
        <input type="text" v-model="form.password" class="form-control">
    </div>
    <div class="">
        <button class="btn btn-primary" @click="signin">
                    Iniciar sesión
        </button>
    </div>
</div>