.home{
    overflow-y: auto;
    &__principal{
        border-left: 1px solid #dcdfe4;
        border-right: 1px solid #dcdfe4;
        .post{
            .title{
                font-size: 0.75em !important;
            }
            .description{
                font-size: 0.85em;
                color: #aeb0b4;
                margin-left: 15px;
            }
            .welcome{
                font-size: 0.85em;
                margin-left: 15px;
                font-weight: 500;
            }
        }
        .post-user{
            .title{
                line-height: 1.4;
                // margin-left: 5px;
                font-size: 0.75em !important;
                font-weight: 600;
                .name-user{
                    // color: rgb(156, 24, 24);
                }
                .date{
                    color: #aeb0b4;
                    font-size: 0.8em;
                }
            }
            .comment{
                min-height: 60px;
            }
        }
    }
    &__menu{
        height: 90vh;
        // background-color: #F0F2F5;
    }
}
// .contenedor {
//     padding: 50px 0;
//     max-width: 450px;
//     margin: auto;
// }

// .card img {
//     width: 100px;
//     height: 100px;
//     object-fit: cover;
//     border: 20px solid #fff;
//     border-radius: 50%;
//     display: block;
// }

// .card .nombre {
//     color: #000000;
//     padding: 30px;
//     position: absolute;
//     left: 50px;
//     top: 0px;
// }

// .card>.nombre h3 {
//     font-size: 16px;
// }

// .imagen img {
//     border: black solid 1px;
//     width: 100%;
//     height: auto;
// }

// input:not([type="submit"]),
// select {
//     padding: 1rem;
//     display: block;
//     width: 100%;
//     background-color: #e1e1e1;
//     margin-bottom: 2rem;
//     border: none;
// }

// .iconos-caracteristicas {
//     list-style: none;
//     padding: 0;
//     display: flex;
//     justify-content: space-evenly;
//     flex: 1;
//     max-width: 500px;
// }

// .iconos-caracteristicas li {
//     display: flex;
// }

// .iconos-caracteristicas li img {
//     margin-right: 10px;
//     width: 30%;
//     height: 30px;
// }